[68 Transformer](https://www.bilibili.com/video/BV1Kq4y1H7FL/?spm_id_from=333.788.recommend_more_video.0&vd_source=1d3a7b81d826789081d8b6870d4fff8e)

<img src="picture/截屏2022-06-27 11.03.08.png">

- transformer是完全基于attention的架构, 没有使用到rnn相关内容
### 多头注意力
- <img src="picture/截屏2022-06-27 11.22.06.png">

多头注意力:这个概念有点类似于卷积只中的多通道数, 多头注意力可以理解为创建多个attention层, 每个attention采用单独的全连接层与之对应, 多个attention的输出结合起来, 最后通过全连接层输出.

<img src="picture/截屏2022-06-27 17.17.26.png">

q k v 都是可学习参数, 头i是第i个attention层, 对应的W均是可学习参数, 多个attention进行contact后进入全新的全连接层,此全连接层也是可学习的参数

<img src="picture/截屏2022-06-27 17.28.49.png">

由于attention没有时间信息, 那么输入的时间

In [3]:
text = {"list_TotalEnergy":["41863.07","39761.22","37737.48","36183.27","35660.13","36679.87","34638.28","35052.64","38697.63","41469.17","45034.79","49098.28","48650.24","49197.16","46941.28","47350.33","47128.62","46116.55","45935.5","46137.26","48019.22","48616.28","46826.3","45637.08"],"list_24":["1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00","24:00"],"list_MarketEnergy":["41935.63","41642.01","41068.91","41024.66","41008.79","41190.06","40222.7","40078.31","41482.98","42181.87","42528.59","42129.44","41954.05","43369.41","43101.67","43253.39","43510.06","43111.97","42493.48","42269.75","42485.84","42639.87","42153.29","42220.97"]}

In [1]:
import pandas as pd

In [4]:
pd.DataFrame(text)

   list_TotalEnergy list_24 list_MarketEnergy
0          41863.07    1:00          41935.63
1          39761.22    2:00          41642.01
2          37737.48    3:00          41068.91
3          36183.27    4:00          41024.66
4          35660.13    5:00          41008.79
5          36679.87    6:00          41190.06
6          34638.28    7:00           40222.7
7          35052.64    8:00          40078.31
8          38697.63    9:00          41482.98
9          41469.17   10:00          42181.87
10         45034.79   11:00          42528.59
11         49098.28   12:00          42129.44
12         48650.24   13:00          41954.05
13         49197.16   14:00          43369.41
14         46941.28   15:00          43101.67
15         47350.33   16:00          43253.39
16         47128.62   17:00          43510.06
17         46116.55   18:00          43111.97
18          45935.5   19:00          42493.48
19         46137.26   20:00          42269.75
20         48019.22   21:00          42485.84
21         48616.28   22:00          42639.87
22          46826.3   23:00          42153.29
23         45637.08   24:00          42220.97